body {
    padding-bottom: 10px;
}

body > header {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    align-items: stretch;
}

body > header > * {
    border-bottom: 1px solid var(--oc-gray-4);
    padding: 15px 40px;
}

.page-header-first-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 20px;
    align-items: center;
}

.page-header-title {
    font-size: 1.2em;
    font-weight: 800;
    color: unset;
    text-decoration: none;
}

.page-searchbar {
    display: flex;
    flex-direction: row;
    align-items: stretch;
}

.page-searchbar input {
    padding: 5px 5px 5px 10px;
    border-radius: 25px 0 0 25px;
    border: 1px solid var(--oc-orange-9);
    border-right: none;
    width: 150px;
    color: black;
    font-weight: 500;
}

.page-searchbar button {
    padding: 5px 7px 5px 5px;
    border-radius: 0 25px 25px 0;
    border: 1px solid var(--oc-orange-9);
    background: var(--oc-yellow-8);
    color: white;
    border-left: none;
}

.page-searchbar input:focus {
    outline: none;
    background: var(--oc-gray-1);
}

.page-searchbar button:hover {
    background: var(--oc-yellow-9);
}

.page-header-menu-big-container {
    position: relative;
}

.page-menu-button {
    position: absolute;
    top: 0;
    height: 100%;
    padding: 5px 10px;
    border-radius: 25px;
    border: none;
    background: var(--oc-yellow-8);
    color: white;
    cursor: pointer;
}

.page-menu-button.disable {
    display: none;
}

#page-menu-scroll-left-button {
    left: 0;
}

#page-menu-scroll-right-button {
    right: 0;
}

.page-menu-container {
    display: flex;
    flex-direction: revert;
    align-items: center;
    overflow: scroll;
    max-width: 100%;
    gap: 5px;
    border-radius: 100px;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

.page-menu-container::-webkit-scrollbar {
    display: none;
}

.page-menu-item {
    color: black;
    text-decoration: none;
    font-weight: 600;
    text-wrap: nowrap;
    padding: 5px 10px;
    border-radius: 100px;
}

.page-menu-item.page-menu-item-active,
.page-menu-item:hover {
    border-right: 0;
    background: var(--oc-orange-8);
    color: white;
}

.page-menu-item.page-menu-item-home {
    font-weight: 900;
}

a {
    color: var(--oc-blue-8);
}

body > main {
    max-width: 800px;
    margin: auto;
    padding: 30px 40px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

body > footer {
    border-top: 1px solid var(--oc-gray-5);
    text-align: right;
    padding: 10px 15px;
}
