header {
    position: fixed;
    top: 0;
    left: 0;
    width: 200px;
    height: 100%;
    background: var(--oc-gray-2);
    z-index: 999;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    padding: 25px 15px;
    gap: 15px;
}

.sidebar-title {
    font-size: 1.2em;
    font-weight: 800;
    color: inherit;
    text-decoration: none;
    text-align: center;
}

header nav {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    gap: 10px;
}

.manager-menu-item {
    color: inherit;
    text-decoration: none;
    border-left: 5px solid var(--oc-gray-5);
    padding: 10px;
    border-radius: 5px;
}

.manager-menu-item-active,
.manager-menu-item:hover {
    background: var(--oc-gray-4);
    font-weight: 700;
    border-left-color: var(--oc-gray-8);
}

.manager-shortcuts {
    flex-grow: 1;
    justify-content: flex-end;
}

body > main,
body > footer {
    margin-left: 200px;
}

body > main {
    padding: 30px 30px 10px 30px;
}

body > footer {
    padding: 10px 30px 30px 30px;
}

code {
    font-family: "Ubuntu Sans Mono", monospace;
    padding: 0.2em 0.4em;
    background-color: var(--oc-gray-2);
    border-radius: 0.4em;
}

.manager-table-id a {
    color: inherit;
    text-decoration: none;
}

.flashes {
    position: fixed;
    top: 20px;
    right: 20px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    font-size: 1.1em;
    font-weight: 800;
}

.flash {
    padding: 5px;
    border-radius: 5px;
    animation: disappear 0s linear 3s forwards;
}

.flash-success {
    background: var(--oc-green-7);
    color: white;
}

.flash-error {
    background: var(--oc-red-7);
    color: white;
}

button,
.btn {
    padding: 0.1em 0.3em;
    background-color: var(--oc-gray-2);
    border-radius: 0.4em;
    border: 1px solid var(--oc-gray-5);
    width: fit-content;
    text-decoration: none;
    color: inherit;
    font-weight: 500;
}

@keyframes disappear {
    to {
        visibility: hidden;
    }
}
