body > main {
    max-width: 1250px;
    display: grid;
    grid-template-areas: "info actions" "editor editor";
    grid-template-columns: 1fr auto;
    gap: 30px 20px;
}

.manager-editor-info {
    grid-area: info;
}

.manager-editor-actions {
    grid-area: actions;
    display: flex;
    flex-direction: revert;
    align-items: center;
    gap: 10px;
    justify-content: center;
}

form {
    display: grid;
    grid-template-areas:
        "title image"
        "description image"
        "authors image"
        "tags image"
        "content preview";
    gap: 25px;
    grid-template-columns: repeat(2, 1fr);
    grid-area: editor;
}

.manager-editor-section {
    display: flex;
    flex-direction: column;
    gap: 3px;
    border: 1px solid var(--oc-gray-3);
    border-radius: 10px;
    padding: 10px;
}

.manager-editor-section legend {
    font-weight: 700;
    font-size: 1.2em;
}

.manager-editor-section input,
.manager-editor-section textarea {
    border: none;
}

.manager-editor-section input:focus,
.manager-editor-section textarea:focus {
    outline: none;
}

.manager-editor-title {
    grid-area: title;
}

.manager-editor-description {
    grid-area: description;
}

.manager-editor-image {
    grid-area: image;
}

.manager-editor-content {
    grid-area: content;
}

.manager-editor-authors {
    grid-area: authors;
}

.manager-editor-tags {
    grid-area: tags;
}

textarea {
    resize: none;
}

.manager-editor-description textarea {
    min-height: unset;
}

#preview a {
    color: var(--oc-blue-8);
}

#preview h1 {
    margin-block-start: 0;
}

.manager-editor-section:has(> *:focus) {
    border-color: var(--oc-blue-8);
}

.manager-editor-image img {
    aspect-ratio: 16/9;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
}

.manager-editor-content textarea {
    overflow: hidden;
}

.manager-editor-authors-container,
.manager-editor-tags-container {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    gap: 10px;
    flex-wrap: wrap;
}

.manager-editor-author-item,
.manager-editor-tag-item {
    display: flex;
    flex-direction: revert;
    align-items: center;
    gap: 5px;

    padding: 0.2em 0.4em;
    background: var(--oc-gray-1);
    border-radius: 0.4em;
    border: 1px solid var(--oc-gray-5);
    width: fit-content;
}

.manager-editor-author-remove-item,
.manager-editor-tag-remove-item {
    margin-left: 5px;
    color: var(--oc-red-8);
    display: none;
    cursor: pointer;
}

.manager-editor-author-item:hover .manager-editor-author-remove-item,
.manager-editor-tag-item:hover .manager-editor-tag-remove-item {
    display: unset;
}

.manager-editor-author-item:has(.manager-editor-author-remove-item:hover) .manager-editor-author-item-name,
.manager-editor-tag-item:has(.manager-editor-tag-remove-item:hover) .manager-editor-tag-item-name {
    text-decoration: line-through;
}

.manager-editor-author-add,
.manager-editor-tag-add {
    cursor: pointer;
}
