main {
    max-width: 1250px;
}

form {
    display: grid;
    grid-template-areas:
        "title image"
        "description image"
        "authors image"
        "tags image"
        "content preview";
    gap: 25px;
    grid-template-columns: repeat(2, 1fr);
}

.manager-editor-section {
    display: flex;
    flex-direction: column;
    gap: 3px;
    border: 1px solid var(--oc-gray-3);
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0 1px 3px 0 var(--oc-gray-2), 0 1px 2px -1px var(--oc-gray-3);
}

.manager-editor-section legend {
    font-weight: 700;
    font-size: 1.2em;
}

.manager-editor-section input,
.manager-editor-section textarea {
    border: none;
}

.manager-editor-section input:focus,
.manager-editor-section textarea:focus {
    outline: none;
}

.manager-editor-title {
    grid-area: title;
}

.manager-editor-description {
    grid-area: description;
}

.manager-editor-image {
    grid-area: image;
}

.manager-editor-content {
    grid-area: content;
}

.manager-editor-authors {
    grid-area: authors;
}

.manager-editor-tags {
    grid-area: tags;
}

textarea {
    resize: none;
}

.manager-editor-info {
    margin-bottom: 25px;
}

.manager-editor-description textarea {
    min-height: unset;
}

#preview *,
#preview * {
    margin: revert;
    padding: revert;
}

#preview a {
    color: var(--oc-blue-8);
}

#preview h1 {
    margin-block-start: 0;
}

.manager-editor-section:has(> *:focus) {
    border-color: var(--oc-blue-8);
}

.manager-editor-image img {
    aspect-ratio: 16/9;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
}

.manager-editor-content textarea {
    overflow: hidden;
}

.manager-editor-authors-container {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    gap: 10px;
    flex-wrap: wrap;
}

.manager-editor-author-item {
    display: flex;
    flex-direction: revert;
    align-items: center;
    gap: 5px;

    padding: 0.1em 0.3em;
    background-color: var(--oc-gray-2);
    border-radius: 0.4em;
    border: 1px solid var(--oc-gray-5);
    width: fit-content;
}

.manager-editor-author-remove-item {
    margin-left: 5px;
}

.manager-editor-author-remove-item {
    color: var(--oc-red-8);
    display: none;
    cursor: pointer;
}

.manager-editor-author-item:hover .manager-editor-author-remove-item {
    display: unset;
}

.manager-editor-author-item:has(.manager-editor-author-remove-item:hover) .manager-editor-author-item-name {
    text-decoration: line-through;
}

.manager-editor-author-add {
    cursor: pointer;
}
