.manager-listing-table {
    min-width: 100%;
}

.manager-table-image img {
    aspect-ratio: 16/9;
    object-fit: cover;
    width: 100px;
    max-width: 100px;
}

tr {
    border: none;
}

td,
th {
    border-bottom: 1px var(--oc-gray-6) solid;
    border-right: 1px var(--oc-gray-3) solid;
}

td:last-child,
th:last-child {
    border-right: 0;
}

tr th {
    border-bottom-color: black;
    text-align: center;
}

tr:last-child td {
    border-bottom: none;
}

td,
th {
    padding: 10px 5px;
    vertical-align: middle;
}

.manager-table-tag-item,
.manager-table-author-item {
    padding: 0.2em 0.4em;
    background: var(--oc-gray-2);
    border-radius: 0.4em;
    display: inline-block;
    border: 1px solid var(--oc-gray-5);
}

.manager-table-tags-container,
.manager-table-authors-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 5px;
}

.manager-table-tag-item i,
.manager-table-author-item i {
    color: var(--oc-gray-7);
}

.manager-table-id,
.manager-table-image {
    text-align: center;
}
