{% extends "manager_base.html" %}

{% block title %}Manager{% endblock %}

{% block styles %}
    <link rel="stylesheet" href="{{ url_for('manager.static', filename='editor.css') }}" />
    <script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>
{% endblock %}

{% block content %}
        <h1>Article editor</h1>

        <div class="manager-editor-info">
            <h2>You're editing article <code>{{ article.id }}</code></h2>
        </div>

        <form action="{{ url_for('manager.save_api') }}" method="post">
            <input type="hidden" name="id" value="{{ article.id }}" />

            <fieldset class="manager-editor-section manager-editor-title">
                <legend>Title</legend>
                <input type="text" id="title" name="title" value="{{ article.title }}" placeholder="Title" maxlength="250" required />
            </fieldset>

            <fieldset class="manager-editor-section manager-editor-description">
                <legend>Description</legend>
                <textarea id="description" name="description" maxlength="500" required>{{ article.description }}</textarea>
            </fieldset>

            <fieldset class="manager-editor-section manager-editor-image">
                <legend>Image</legend>
                <img src="{{ url_for('media.get_file', id=article.cover_image_id) }}" alt="Cover image" />
            </fieldset>

            <fieldset class="manager-editor-section manager-editor-content">
                <legend>Content</legend>
                <textarea id="content" name="content" required>{{ article.content }}</textarea>
            </fieldset>

            <fieldset class="manager-editor-section manager-editor-authors">
                <legend>Authors</legend>
                <input type="hidden" id="authors" value="{{ article.authors | join(', ') }}" />
            </fieldset>

            <fieldset class="manager-editor-section manager-editor-tags">
                <legend>Tags</legend>
                <input type="hidden" id="tags" value="{{ article.tags | join(', ') }}" />
            </fieldset>

            <fieldset class="manager-editor-section manager-editor-preview">
                <legend>Preview</legend>
                <article id="preview"></article>
                <script>
                    const title = document.getElementById("title");
                    const content = document.getElementById("content");
                    const preview = document.getElementById("preview");

                    function updatePreview() {
                        const fullMarkdown = "# " + title.value + "\n\n" + content.value;
                        preview.innerHTML = marked.parse(fullMarkdown);
                    }

                    content.addEventListener("input", updatePreview);
                    title.addEventListener("input", updatePreview);
                    updatePreview();
                </script>
            </fieldset>
        </form>
{% endblock %}
