{% extends "base.html" %}

{% block title %}{{ title }}{% endblock %}

{% block extra_headers %}
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/article.css') }}">
{% endblock %}

{% block content %}
    <article>
        <section id="article-header">
            <img id="article-cover-image" src="{{ cover }}">
            <h1 id="article-title">{{ title }}</h1>
            <div id="article-extra-data">
                <p id="article-authors">
                    {{ global.compname }} - {{ authors|join(", ") }}
                </p>
                <div id="article-date-data">
                    <p id="article-date">{{ dt_formatted }}</p>
                    {% if dt_edited %}
                        <p id="article-date-edited">{{ dt_edited }}</p>
                    {% endif %}
                </div>
            </div>
        </section>
        {{ article_content | safe }}
    </article>
{% endblock %}
