<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}{% endblock %} - {{ global.compname }}</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='styles/base.css') }}">
        <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='favs/new_fav.ico') }}">
        <script src="https://kit.fontawesome.com/4a94c21782.js" crossorigin="anonymous"></script>
        
        {% block extra_headers %}{% endblock %}
    </head>
    <body>
        <header>
            <div id="header-content">
                <a href="/" id="header-logo">{{ global.compname }}</a>
                <div id="settings-container">
                    <i class="fa-solid fa-gears" id="open-theme-settings"></i>
                    <div id="theme-settings">
                        <button class="theme-toggle" id="theme-light">
                            <i class="fa-solid fa-circle toggle-circle"></i> <span class="theme-descript">Light <i class="fa-solid fa-sun"></i></span>
                        </button>
                        <button class="theme-toggle" id="theme-dark">
                            <i class="fa-solid fa-circle toggle-circle"></i> <span class="theme-descript">Dark <i class="fa-solid fa-moon"></i></span>
                        </button>
                        <button class="theme-toggle" id="theme-system">
                            <i class="fa-solid fa-circle toggle-circle"></i> <span class="theme-descript">System <i class="fa-solid fa-circle-half-stroke"></i></span>
                        </button>
                    </div>
                </div>
                <script>
                    document.addEventListener("DOMContentLoaded", () => {
                        const darkButton = document.getElementById("theme-dark");
                        const lightButton = document.getElementById("theme-light");
                        const systemButton = document.getElementById("theme-system");
                
                        const currentTheme = localStorage.getItem("theme") || "system"; // If there is a theme saved in the local storage, use it, else just use the system theme
                        document.documentElement.setAttribute("data-theme", currentTheme);
                
                        darkButton.addEventListener("click", () => {
                            document.documentElement.setAttribute("data-theme", "dark");
                            localStorage.setItem("theme", "dark");
                        });
                
                        lightButton.addEventListener("click", () => {
                            document.documentElement.setAttribute("data-theme", "light");
                            localStorage.setItem("theme", "light");
                        });
                
                        systemButton.addEventListener("click", () => {
                            document.documentElement.setAttribute("data-theme", "system");
                            localStorage.setItem("theme", "system");
                        });
                    });
                </script>
                <script>
                    const themeIconOpen = document.getElementById("open-theme-settings");
                    const themeSettings = document.getElementById("theme-settings");
                
                    themeIconOpen.addEventListener("click", (e) => {
                        e.stopPropagation();
                        themeSettings.style.display = themeSettings.style.display === "none" ? "flex" : "none";
                    });
                
                    document.addEventListener("click", () => {
                        themeSettings.style.display = "none";
                    });
                
                    themeSettings.addEventListener("click", (e) => {
                        e.stopPropagation(); // clicking inside themeSettings shouldn't close it
                    });
                </script>
            </div>
        </header>


        <main>
            <div id="main-content">
                {% block content %}{% endblock %}
            </div>
        </main>


        <footer>
            Powered by <a href="https://github.com/Gijs6/Havas">Havas</a>
        </footer>
    </body>
</html>
