{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block extra_headers %}
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/home.css') }}">
{% endblock %}

{% block content %}
    {% for article in article_list %}
        <a class="article-container" href="{{ article.url }}">
            <img class="article-image" src="{{ article.cover }}">
            <span class="article-title">{{ article.title }}</span>
            <span class="article-description">{{ article.description }}</span>
            <span class="article-datetime">{{ article.datetime_formatted }}</span>
        </a>
    {% endfor %}
{% endblock %}
