{% extends "manager_base.html" %}

{% block title %}Home{% endblock %}

{% block extra_headers %}
    <link rel="stylesheet" href="{{ url_for('manager_module.static', filename='styles/home.css') }}">
{% endblock %}

{% block content %}
    <h1>Recent articles</h1>

    <table>
        <tr>
            <th>Editor</th>
            <th>Title</th>
            <th>Cover image</th>
            <th>Datetime</th>
            <th>ID</th>
            <th>Tags</th>
            <th>Author</th>
        </tr>
        {% for article in article_list %}
            <tr>
                <td class="article-edit"><a href="/manager/editor/{{ article.id }}"><i class="fa-solid fa-file-pen"></i></a></td>
                <td class="article-title">{{ article.title }}</td>
                <td class="article-image"><img class="cover-image" src="{{ article.cover }}"></td>
                <td class="article-datetime">{{ article.datetime_formatted }}</td>
                <td class="article-id"><code>{{ article.id }}</code></td>
                <td class="article-tags">
                    <div id="tags">
                        {% for tag in article.tags %}
                            <div class="tagbox"><i class="fa-solid fa-tag"></i>{{ tag }}</div>
                        {% endfor %}
                    </div>
                </td>
                <td class="article-author">
                    <div id="authors">
                        {% for author in article.authors %}
                            <div class="authorbox"><i class="fa-solid fa-user"></i></i>{{ author }}</div>
                        {% endfor %}
                    </div>
                </td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}
