{% extends "manager_base.html" %}

{% block title %}Home{% endblock %}

{% block extra_headers %}
    <link rel="stylesheet" href="{{ url_for('manager_module.static', filename='styles/home.css') }}">
{% endblock %}

{% block content %}
    <h1>Recent articles</h1>

    <table>
        <tr>
            <th></th>
            <th>Title</th>
            <th>Cover image</th>
            <th>Datetime</th>
            <th>ID</th>
            <th>Tags</th>
            <th>Author</th>
        </tr>
        {% for article in article_list %}
            <tr>
                <td class="article-edit"><a href="/manager/editor?id={{ article.id }}"><i class="fa-solid fa-file-pen"></i></a></td>
                <td class="article-title">{{ article.title }}</td>
                <td class="article-image"><img class="cover-image" src="{{ article.cover }}"></td>
                <td class="article-datetime">{{ article.datetime }}</td>
                <td class="article-id"><code>{{ article.id }}</code></td>
                <td class="article-tags">{% for tag in article.tags %}<span class="tag"><i class="fa-solid fa-tag"></i> {{ tag }}</span>{% endfor %}</td>
                <td class="article-author">{{ article.author|join(", ") }}</td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}
