<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}Home{% endblock %} - HavasManager - {{ global.compname }}</title>
        <link rel="stylesheet" href="{{ url_for('manager_module.static', filename='styles/base.css') }}">
        <link rel="icon" href="{{ url_for('manager_module.static', filename='favs/manager.ico') }}">
        <script src="https://kit.fontawesome.com/4a94c21782.js" crossorigin="anonymous"></script>
        
        {% block extra_headers %}{% endblock %}
    </head>
    <body>
        <header id="sidebar">
            <a href="/manager/" id="header-logo">HavasManager</a>
            <nav>
                <a href="/manager/" class="menu-item{% if request.path == '/manager/' %} active{% endif %}">Dashboard <i class="fa-solid fa-table-list"></i></a>
                {% if '/manager/editor' in request.path %}  
                    <a href="/manager/editor?id={{ id }}" class="menu-item active">Editor <i class="fa-solid fa-file-pen"></i></a>
                {% endif %}
                <a href="/manager/editor/new" class="menu-item">New article <i class="fa-solid fa-file-circle-plus"></i></a>
            </nav>
            <div id="nav-bottom">
                <a href="/" class="menu-item">Public page <i class="fa-solid fa-home"></i></a>
                <a href="/manager/logout" class="menu-item">Logout <i class="fa-solid fa-arrow-right-from-bracket"></i></a>
            </div>
        </header>

        <div id="content">
            <main>
                {% block content %}{% endblock %}
            </main>
            <footer>
                Powered by <a href="https://github.com/Gijs6/Havas">Havas</a>
            </footer>
        </div>
    </body>
</html>
