@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    color-scheme: light dark;
    --front: light-dark(black, white);
    --back: light-dark(white, black);
    --blue: #0f95b0;
}

@media (prefers-color-scheme: light) {
    :root {
        color-scheme: light;
    }
}
  
@media (prefers-color-scheme: dark) {
    :root {
        color-scheme: dark;
    }
}

[data-theme="light"] {
    color-scheme: light;
}

[data-theme="dark"] {
    color-scheme: dark;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: inherit;
}

body {
    width: 100vw;
    height: 100vh;
    background-color: var(--back);
    color: var(--front);
    font-family: "Raleway", sans-serif;
}

header {
    position: sticky;
    top: 0;
    z-index: 999;
    background: var(--back);
    padding: 0 25px;
    border-bottom: 1px solid light-dark(#bbb, #444);
}

header #header-content {
    padding: 15px 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    max-width: 800px;
    margin: auto;
}

#open-theme-settings {
    cursor: pointer;
}

#open-theme-settings:hover {
    color: var(--blue);
}

#header-logo {
    color: inherit;
    text-decoration: none;
    font-weight: 700;
    font-size: 1.2em;
}

#settings-container {
    position: relative;
}

#theme-settings {
    display: none;
    position: absolute;
    top: 150%;
    right: 0;
    flex-direction: column;
    gap: 15px;
    border: 2px solid #808080;
    padding: 15px;
    background: var(--back);
    border-radius: 10px;
    z-index: 10;
}

.theme-toggle {
    width: max-content;
    border: none;
    background: none;
    cursor: pointer;
}

.toggle-circle {
    margin-inline-end: 1em;
}

.theme-descript i {
    margin-inline-start: .5em;
}

[data-theme="light"] #theme-light .toggle-circle {
    color: var(--blue);
}

[data-theme="dark"] #theme-dark .toggle-circle {
    color: var(--blue);
}

[data-theme="system"] #theme-system .toggle-circle {
    color: var(--blue);
}

main {
    border-bottom: 1px solid light-dark(#bbb, #444);
    padding: 15px 25px;
}

footer {
    padding: 15px 25px;
}

footer {
    font-size: .9em;
    font-style: italic;
    font-weight: 700;
    color: light-dark(#555, #aaa);
    text-align: right;
}

footer a {
    color: light-dark(#555, #aaa);
}

#main-content {
    max-width: 800px;
    margin: auto;
}
