@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    color-scheme: light dark;
    --front: light-dark(black, white);
    --back: light-dark(white, black);
}

@media (prefers-color-scheme: light) {
    :root {
        color-scheme: light;
    }
}
  
@media (prefers-color-scheme: dark) {
    :root {
        color-scheme: dark;
    }
}

[data-theme="light"] {
    color-scheme: light;
}

[data-theme="dark"] {
    color-scheme: dark;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: inherit;
}

body {
    width: 100vw;
    height: 100vh;
    background-color: var(--back);
    color: var(--front);
    font-family: "Raleway", sans-serif;
}

header {
    border-bottom: 1px solid light-dark(#bbb, #444);
    padding: 15px 25px;
}

header a {
    color: inherit;
    text-decoration: none;
}

main {
    margin: 15px 25px;
}

footer {
    border-top: 1px solid light-dark(#bbb, #444);
    padding: 15px 25px;
}

footer {
    font-size: .9em;
    font-style: italic;
    font-weight: 300;
    color: light-dark(#555, #aaa);
    text-align: right;
}

footer a {
    color: light-dark(#555, #aaa);
}
