{% extends "frontend_base.html" %}

{% block title %}{{ article.title }}{% endblock %}

{% block header_items %}
    <link rel="stylesheet" href="{{ url_for('frontend.static', filename='article.css') }}" />
{% endblock %}

{% block content %}
    <header class="article-header">
        <img class="article-cover-image" src="{{ url_for('media.get_file', id=article.cover_image_id) }}" alt="Cover image for {{ article.title }}" />
        <h1 class="article-title">{{ article.title }}</h1>
        <div class="article-metadata">
            <ul class="article-authors">
                {% for author in article.authors %}
                    <li>{{ author }}</li>
                {% endfor %}
            </ul>
            <div class="article-dates">
                <time class="article-date-made" datetime="{{ article.datetime_made.isoformat() }}">{{ article.datetime_made.strftime("%B %d, %Y at %H:%M") }}</time>
                {% if article.datetime_edited != article.datetime_made %}
                    <span class="article-date-edited">
                        Edited at
                        <time datetime="{{ article.datetime_edited.isoformat() }}">{{ article.datetime_edited.strftime("%B %d, %Y at %H:%M") }}</time>
                    </span>
                {% endif %}
            </div>
        </div>
    </header>

    <article class="article-content">{{ article.html | safe }}</article>
{% endblock %}
